/*
* MARGINS
*/

/*
* LEFT
*/
.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml16 {
  margin-left: 16px;
}

/*
* TOP
*/
.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt16 {
  margin-top: 16px;
}
