<h1 mat-dialog-title>Add Todo</h1>
<div mat-dialog-content class="row">
  <mat-form-field hintLabel="Max 20 characters" class="col-sm-12 col-xs-12">
    <input matInput
            [(ngModel)]="data.title"
            maxlength="20"
            placeholder="Title"
            cdkFocusInitial
            tabindex="1"
            required>
    <mat-hint align="end">{{data.title?.length || 0}}/20</mat-hint>
  </mat-form-field>
  <mat-form-field hintLabel="Max 50 characters" class="col-sm-12 col-xs-12 mt4">
    <textarea matInput
              [(ngModel)]="data.description"
              maxlength="50"
              tabindex="2"
              matTextareaAutosize 
              matAutosizeMinRows="1"
              matAutosizeMaxRows="5"
              placeholder="Description"
              required>
    </textarea>
    <mat-hint align="end">{{data.description?.length || 0}}/50</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" tabindex="4">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" tabindex="3">Ok</button>
</div>




